Repository fbpic/fbpic, pull requests merged in 2018-03, with the labels that each got.

#215 Remove the arrays `z` and `r` from the `Interpolation` class
  fbpic/boundaries/moving_window.py
  fbpic/fields/fields.py
  fbpic/main.py
Labels: refactoring

#216 Correct round-off errors in GPU deposition
  fbpic/particles/deposition/cuda_methods.py
  fbpic/particles/deposition/cuda_methods_one_mode.py
  tests/test_cpu_gpu_deposition.py
Labels: automated tests, gpu

#217 Removed Barrier() statements and updated Wait() pattern in MPI communication
  fbpic/boundaries/boundary_communicator.py
Labels: MPI, bug, enhancement, performance

#219 [WIP] Add CUDA GPUDirect support for direct GPU MPI communication
  docs/source/how_to_run.rst
  fbpic/boundaries/boundary_communicator.py
  fbpic/boundaries/field_buffer_handling.py
  fbpic/main.py
  fbpic/utils/mpi.py
  fbpic/utils/printing.py
Labels: MPI, enhancement, gpu, performance

#223 Avoid initializing macroparticles with zero weight
  fbpic/particles/particles.py
Labels: enhancement, performance

#224 Close #222 Add automated test that check the accuracy of a restarted simulation
  fbpic/openpmd_diag/checkpoint_restart.py
  tests/test_example_docs_scripts.py
Labels: automated tests, bug, refactoring

#186 Close #147 Add injection of relativistic particles through a plane
  fbpic/lpa_utils/bunch.py
  fbpic/main.py
  fbpic/particles/injection/__init__.py
  fbpic/particles/injection/ballistic_before_plane.py
  fbpic/particles/particles.py
  fbpic/particles/push/cuda_methods.py
  fbpic/particles/push/numba_methods.py
  tests/test_beam_focusing.py
Labels: API, automated tests, enhancement, refactoring

#227 Better message warnings, including when generating negative particle densities
  fbpic/__init__.py
  fbpic/fields/fields.py
  fbpic/main.py
  fbpic/particles/particles.py
  fbpic/utils/mpi.py
  fbpic/utils/threading.py
Labels: refactoring

#226 Implement cuda-aware MPI communications
  docs/source/how_to_run.rst
  fbpic/boundaries/boundary_communicator.py
  fbpic/boundaries/field_buffer_handling.py
  fbpic/main.py
  fbpic/utils/mpi.py
  fbpic/utils/printing.py
Labels: MPI, gpu, performance

#202 Cross deposition
  fbpic/fields/cuda_methods.py
  fbpic/fields/fields.py
  fbpic/fields/numba_methods.py
  fbpic/lpa_utils/laser/antenna_injection.py
  fbpic/main.py
  fbpic/particles/particles.py
  fbpic/particles/push/cuda_methods.py
  fbpic/particles/push/numba_methods.py
  tests/test_boosted.py
  tests/test_compton.py
Labels: cpu, enhancement, gpu

#228 Add new way to initialize particles
  docs/source/api_reference/simulation.rst
  fbpic/boundaries/boundary_communicator.py
  fbpic/lpa_utils/bunch.py
  fbpic/main.py
  tests/test_compton.py
Labels: API, documentation

#230 Clean up and generalize continuous injection
  docs/source/example_input/boosted_frame_script.py
  fbpic/boundaries/boundary_communicator.py
  fbpic/boundaries/moving_window.py
  fbpic/main.py
  fbpic/particles/elementary_process/ionization/ionizer.py
  fbpic/particles/injection/__init__.py
  fbpic/particles/injection/continuous_injection.py
  fbpic/particles/particles.py
  fbpic/particles/utilities/utility_methods.py
  tests/test_beam_focusing.py
  tests/test_continuous_injection.py
Labels: automated tests, refactoring

#229 Increase default values for damping and guard region size
  fbpic/boundaries/boundary_communicator.py
  fbpic/main.py
Labels: enhancement, performance

#231 Close #187 Document ionization module and add an example script
  docs/source/api_reference/api_reference.rst
  docs/source/api_reference/particles.rst
  docs/source/api_reference/simulation.rst
  docs/source/example_input/boosted_frame_script.py
  docs/source/example_input/ionization_script.py
  docs/source/example_input/lwfa_script.py
  docs/source/how_to_run.rst
  fbpic/main.py
  fbpic/particles/elementary_process/ionization/read_atomic_data.py
  fbpic/particles/particles.py
  tests/test_example_docs_scripts.py
  tests/test_ionization.py
Labels: API, automated tests, documentation, ionization

#234 Close #142 Do the `sum_reduce` only once per deposition (instead of once per species)
  fbpic/fields/fields.py
  fbpic/fields/numba_methods.py
  fbpic/main.py
  fbpic/particles/deposition/threading_methods.py
  fbpic/particles/particles.py
  fbpic/utils/threading.py
  tests/test_uniform_rho_deposition.py
Labels: cpu, performance

#237 Close #213 Restart does not work for ionizable species
  docs/source/example_input/ionization_script.py
  fbpic/openpmd_diag/checkpoint_restart.py
  tests/test_example_docs_scripts.py
Labels: automated tests, bug, ionization, openPMD output

#239 Add various tips in the documentation
  docs/source/advanced/boosted_frame.rst
  docs/source/advanced/parameter_scans.rst
  docs/source/advanced/profiling.rst
  docs/source/example_input/boosted_frame_script.py
  fbpic/main.py
Labels: documentation
