Repository fbpic/fbpic, pull requests merged in 2018-05, with the labels that each got.

#257 Close #253 Implement donut-like Laguerre-Gauss modes
  docs/source/api_reference/lpa_utilities/laser.rst
  docs/source/api_reference/lpa_utilities/laser_profiles/donut_laguerre.rst
  fbpic/lpa_utils/laser/__init__.py
  fbpic/lpa_utils/laser/laser_profiles.py
  tests/test_laser.py
Labels: documentation, enhancement

#252 Have only MPI rank 0 print information on laser/beam initialization
  fbpic/lpa_utils/bunch.py
  fbpic/lpa_utils/laser/direct_injection.py
Labels: refactoring

#255 GPU implementation for pushing the laser envelope
  fbpic/fields/cuda_methods.py
  fbpic/fields/fields.py
  fbpic/fields/interpolation_grid.py
  fbpic/fields/psatd_coefs.py
  fbpic/fields/spectral_grid.py
  tests/test_laser_envelope.py
Labels: gpu, laser envelope

#258 Envelope diagnostics
  fbpic/openpmd_diag/data_dict.py
  fbpic/openpmd_diag/field_diag.py
Labels: laser envelope, openPMD output

#256 Implements moving windows for the envelope
  fbpic/boundaries/moving_window.py
  tests/test_laser_envelope.py
Labels: laser envelope

#260 Allow laser profiles to propagate forward or backward
  fbpic/lpa_utils/laser/direct_injection.py
  fbpic/lpa_utils/laser/laser.py
  fbpic/lpa_utils/laser/laser_profiles.py
  tests/test_laser_antenna.py
Labels: enhancement

#262 Implement moving antenna
  fbpic/lpa_utils/laser/antenna_injection.py
  fbpic/lpa_utils/laser/laser.py
  tests/test_laser_antenna.py
Labels: automated tests, enhancement

#265 Copy rho arrays to device after exchange (not to host)
  fbpic/boundaries/field_buffer_handling.py
Labels: MPI, bug, gpu

#263 New method of pushing the 'a' field
  fbpic/boundaries/moving_window.py
  fbpic/fields/cuda_methods.py
  fbpic/fields/fields.py
  fbpic/fields/interpolation_grid.py
  fbpic/fields/numba_methods.py
  fbpic/fields/psatd_coefs.py
  fbpic/fields/spectral_grid.py
  fbpic/lpa_utils/laser/direct_envelope_injection.py
  fbpic/lpa_utils/laser/laser_profiles.py
  fbpic/main.py
  fbpic/openpmd_diag/data_dict.py
  fbpic/openpmd_diag/field_diag.py
  tests/test_laser_envelope.py
Labels: laser envelope
