Repository fbpic/fbpic, pull requests merged in 2020-04, with the labels that each got.

#439 Update badges for new Travis interface
  README.md
Labels: automated tests

#438 PICMI: Add uniform distribution and default number of steps
  fbpic/picmi/__init__.py
  fbpic/picmi/simulation.py
Labels: picmi

#440 Fix GPUdirect for cupy arrays
  docs/source/install/install_juwels.rst
  fbpic/boundaries/boundary_communicator.py
  fbpic/utils/mpi.py
Labels: MPI, gpu
